@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Reenie+Beanie&family=Rock+Salt&display=swap');
@import 'tailwindcss';

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Poiret One';
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@theme {
  --color-grayscale-0: #eef0f2;
  --color-grayscale-25: #c8cacb;
  --color-grayscale-50: #7c7d7e;
  --color-grayscale-75: #303030;
  --color-grayscale-100: #0a0a0a;
  --color-primary-light: #b28288;
  --color-primary-dark: #6b0f1a;
  --color-secondary-light: #523043;
  --color-secondary-dark: #31081f;
  --font-default: 'Rock Salt', cursive;
  --font-emphasis: 'Rock Salt', cursive;
  --font-thought: 'Reenie Beanie', cursive;
  --font-default: 'Poiret One', sans-serif;

  --blur-xxs: 2px;
}
